@font-face {
	font-family: "Alata-Regular";
	src: url("fonts/Alata-Regular.ttf");
}
@font-face {
	font-family: "FjallaOne-Regular";
	src: url("fonts/FjallaOne-Regular.ttf");
}



* {
	box-sizing: border-box;
	margin: 0 auto;
	
}

body{
	font-family: 'FjallaOne-Regular', Arial;
background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);

}

section
{
	
}
section h2 {
	font-size: 3em;
	color: #fff;
	text-align: center;
	text-decoration: none;
	margin-top: 2.5%;
	
	box-sizing: border-box;

	margin-bottom: 2%;
}

section h1 {
	color: #44475a;
	text-align: center;
	margin-bottom: 2%;
	margin-top: 2%;
	text-decoration: none;
	font-size: 2em;
}

section p {
	font-size: 1.2em;
	color: #fff;
	text-align: justify;
}


table {

  color: white;
  table-layout: fixed;
/*  border: 1px solid white; */
}

th, tr {
	width: 20%;
	margin-right: 10%;
	text-align: left;
}

th {
	color: #fff;
}

tr {
	color: #fff; opacity: 1.0;

}

tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.2);
  }




.body {

}

  .navbar {
  overflow: hidden;
  margin-top: 2.5%;
  text-align: center;
  color: white;
}

  .navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

.navbar p {
	color: #44475a;
}

.Leutenbach {
	background-color: rgba(0, 0, 0, 0.1);
	width: 50%;
	padding-top: .2%;
	padding-bottom: 1%;
	border-radius: 15px;
}

.Baden {
	background-color: rgba(0, 0, 0, 0.1);
	width: 50%;
	padding-top: .2%;
	padding-bottom: 1%;;
	border-radius: 15px;
}

.De {
	background-color: rgba(0, 0, 0, 0.1);
	width: 50%;
	padding-top: .2%;
	padding-bottom: 1%;
	border-radius: 15px;
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  [class*="Leutenbach"] {
    width: 97%;
    padding-bottom: 3%
  }
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  [class*="Baden"] {
    width: 97%;
    padding-bottom: 3%
  }
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  [class*="De"] {
    width: 97%;
    padding-bottom: 3%
  }
}