body{
	font-family: consolas, sans-serif, arial, roboto;
	background: #282a36;
}

section
{
	
}
section h2 {
	font-size: 2.5em;
	color: #8be9fd;
	text-align: left;
	text-decoration: underline;
}

section h1 {
	color: #ff79c6;
}

section p {
	font-size: 1.2em;
	color: #fff;
	text-align: justify;
}

table {
  font-family: consolas, sans-serif;
  color: white;
  table-layout: fixed;
}

th, tr {
	width: 20%;
	text-align: left;
	margin-right: 5%;
}

th {
	color: #8be9fd;
}

tr {
	color: #fff;
}

tr:nth-child(even) {
  background-color: #44475a;
  }

.body {
	margin-left: 5%;
}

  .navbar {
  overflow: hidden;
  margin-top: 20%;
  margin-left: 5%;
  color: white;
}

  .navbar a {
  color: #8be9fd;
  text-decoration: none;
  font-size: 17px;
}

.navbar p {
	color: #ff79c6;
}
