@font-face {
	font-family: "Alata-Regular";
	src: url("fonts/Alata-Regular.ttf");
}
@font-face {
	font-family: "FjallaOne-Regular";
	src: url("fonts/FjallaOne-Regular.ttf");
}



* {
	box-sizing: border-box;
	margin: 0 auto;
	
}

body{
	font-family: 'FjallaOne-Regular', Arial;
background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);

}

section
{
	
}
section h2 {
	font-size: 3em;
	color: #fff;
	text-align: center;
	text-decoration: none;
	margin-top: 2.5%;
	border: 2px solid #fff;
	box-sizing: border-box;
	width: 25%;
}

section h1 {
	color: #44475a;
	text-align: center;
	margin-bottom: 2.5%;
	margin-top: 2.5%;
	text-decoration: underline;
}

section p {
	font-size: 1.2em;
	color: #fff;
	text-align: justify;
}


table {

  color: white;
  table-layout: fixed;
/*  border: 1px solid white; */
}

th, tr {
	width: 20%;
	margin-right: 10%;
	text-align: left;
}

th {
	color: #44475a;
}

tr {
	color: #fff; opacity: 1.0;

}

tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.2);
  }



.body {

}

  .navbar {
  overflow: hidden;
  margin-top: 2.5%;
  text-align: center;
  color: white;
}

  .navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

.navbar p {
	color: #44475a;
}

